h1 {
    color: yellow;
}

h1 {
    color: green;
}
h1 {
    color: red;
}

div {
    width: 600px;
    height: 200px;
    background-color: aqua;
}
    
.bg-black {
    background-color: black;

}
.row {
    display: flex;
    width: 100vw;
}

.row div {
    width: 33.3%;
    background-color: yellowgreen;
    margin: 

}