@import url('https://fonts.googleapis.com/css2?family=Lato:wght@300;400;900&display=swap');

body {
    font-family: 'Lato', sans-serif;
    overflow-x: hidden;
}
.grid {
    display: grid;
    grid-template-areas: 
    'header header header header header header'
    'left left left right right right';
    grid-template-columns: repeat(6, minmax(0, 1fr));
    width: 100%;
    height: auto;
}
.header {
    grid-area: header;
    /* background-color: darkcyan; */
    height: auto;
    display: flex;
    justify-content: space-between;
    padding: 10px 15px;
}
a.logo  {
    text-decoration: none;
    text-transform: capitalize;
    color: darkslategray;
}
a.logo:hover {
    text-decoration: none;
}
 
.menu {
    display: flex;
    list-style: none;
}
.menu > li {
    margin-left: 20px;
}

.menu > li > a {
    text-decoration: none;
    color: #78A;
    text-transform: capitalize;
}
.left {
    grid-area: left;  
}
.right {
    grid-area: right;
    position: relative;  
}
.image {
    background-image: url(bedroom-image.jpg);
    float: right;
    background-position: left;  
}
.glass {
    position: absolute;
    right: 0px;
    height: 100%;
    width: 100px;
    background: red;
    border-radius: .2rem;
    --tw-shadow: 0 25px 50px -12px rgba(0, 0, 0, 0.25);
    box-shadow: var(--tw-ring-offset-shadow,0 0 #0000),var(--tw-ring-shadow,0 0 #0000),var(--tw-shadow);
}

.rounded-2xl {
}

.container {
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto;
  }
  @media (min-width: 768px) {
    .container {
      width: 750px;
    }
  }
  @media (min-width: 992px) {
    .container {
      width: 970px;
    }
  }
  @media (min-width: 1200px) {
    .container {
      width: 1170px;
    }
  }