@import url('https://fonts.googleapis.com/css2?family=Lato:wght@300;400;900&display=swap');

body {
    font-family: 'Lato', sans-serif;
    overflow-x: hidden;
}
.grid {
    display: grid;
    grid-template-areas: 
    'header header header header header header'
    'left left left right right right';
    grid-template-columns: repeat(6, minmax(0, 1fr));
    height: 100vh;
    width: 100%;
}
.header {
    grid-area: header;
    /* background-color: darkcyan; */
    height: auto;
    display: flex;
    justify-content: space-between;
}
.left {
    grid-area: left;
    background-color: burlywood;
    height: 90vh;
    
}
.right {
    grid-area: right;
    background-color: darkblue;
    
}
.right > a > img {
    float: right;
}
a.logo  {
    text-decoration: none;
    text-transform: capitalize;
    color: darkslategray;
}
a.logo:hover {
    text-decoration: none;
}

.menu {
    display: flex;
    list-style: none;
}
.menu > li {
    margin-left: 15px;
}

.menu > li > a {
    text-decoration: none;
    color: #78A;
    text-transform: capitalize;
}
