*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    list-style: none;
}

/* Navbar */
.navbar {
    display: flex;
    width: 100%;
    flex-direction: row;
    justify-content: space-between;
    height: 70px;
    align-items: center;
}
.logo {
    text-decoration: none;
    color: black;
    font-weight: 700;
    font-size: 32px;
    line-height: 45px;
}
.nav-menu {
    display: flex;
    width: 40%;
    justify-content: flex-end
}
.nav-item {
    margin-left: 15px;
   
}
.nav-link {
    color: black;
    text-transform: capitalize;
    text-decoration: none;
}
/* .flex {
    display: flex;
}
.flex-col {
    flex-direction: column;
}
.justify-between {
    justify-content: space-between;
}
.justify-center {
    justify-content: center;
} */