*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    list-style: none;
}

body {
    overflow-x: hidden ;
    position: relative;
}

/* Navbar */
.navbar {
    display: flex;
    width: 100%;
    background-color: blue;
    flex-direction: row;
    justify-content: space-between;
    height: 70px;
    align-items: center;
    position: sticky;
    
}
.logo {
    text-decoration: none;
    color: black;
    font-weight: 700;
    font-size: 32px;
    line-height: 45px;
}
.nav-menu {
    display: flex;
    width: 40%;
    justify-content: flex-end
}
.nav-item {
    margin-left: 15px;
   
}
.nav-link {
    color: black;
    text-transform: capitalize;
    text-decoration: none;
}

/* Main Grid */
.grid {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: auto;
    gap: 10px;
}
.grid-item {
    height: 400px;
    min-width: 300px;
}
.grid-item img {
    width: 100%;
}
/* Footer  */
.footer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 70px;
}
.footer-menu {
    display: flex;
}
.footer-menu .nav-link {
    font-size: 18px;
    margin: 0px 10px;
}
.copy {
    font-size: 14px;
    text-align: center;
    padding: 5px 0px;
}
/* .flex {
    display: flex;
}
.flex-col {
    flex-direction: column;
}
.justify-between {
    justify-content: space-between;
}
.justify-center {
    justify-content: center;
} */