body {
    display: grid;

    grid-template-areas: 
    'header header header header header header',
    'aside section section section section article',
    'footer footer footer footer footer footer';
}

header {
    grid-area: 'header';
}
main > aside {
    grid-area: 'aside';
}

main > section {
    grid-area: 'section';
}

main > article {
    grid-area: 'article';
}

footer {
    grid-area: 'footer';
}