.grid {
    display: grid;
    grid-template-areas: 
    'header header header header header header',
    'leftMenu main main main main rightMenu',
    'footer footer footer footer footer footer';
    background-color: darkseagreen;
    height: 100vh;
}