.grid {
    display: grid;
    grid-template-areas: 
    'header header header header header header'
    'leftMenu main main main main rightMenu'
    'footer footer footer footer footer footer';
    background-color: darkseagreen;
    min-height: 100vh;
}

.header {
    grid-area: header;
    background-color: darkslateblue;
}