body {
    background-color: whitesmoke;
}

h1{
    text-transform: uppercase;
    color: blue;
}
.greet {
    text-align: right;
    color: teal;
}
.card {
    width: 400px;
    height: 350px;
}
.cardTitle
.cardBody
.cardFooter