*{
    box-sizing: border-box;
}
body {
    background-color: whitesmoke;
}

h1{
    text-transform: uppercase;
    color: blue;
}
.greet {
    text-align: right;
    color: teal;
}
.card {
    width: 400px;
    height: 350px;
    border-width: 1px;
    border-style: solid;
    border-color: gainsboro;
    border: 1px solid gainsboro;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);

    
}

.cardTitle {
    text-align: center;
    text-transform: uppercase;
    padding-top: 50px;
    padding-bottom: 10px;
    font-weight: bold;
}
.cardBody {
    padding-left: 20px;
    line-height: 2em;
}
.cardFooter {
    padding-left: 20px;
    padding-top: 20px;
    text-align: center;
    font-weight: 700;
}
.cardFooter:hover {
    text-decoration: underline;
    cursor: pointer;
}

button {
    background-color: black;
    color: white;
}
.click {
    background-color: cadetblue;
    color: whitesmoke;
    text-transform: uppercase;
    outline: none;
    border: 0;
    padding: 10px;
}
.shadow {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.hover {
    background-color: black;
    color: crimson;
}
