@import url('https://fonts.googleapis.com/css2?family=Ubuntu:wght@300;500&display=swap');
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Ubuntu', sans-serif;

}
body {
    overflow-x: hidden;
}
:root {
    --red: #eab9c5;
    --red2: #e91449ea;
    --nude: #b6a489ca;
    --black: #131212;
    --white: #fff;
}
.wrapper {
    width: 100%;
    min-height: 100vh;
    background-color: var(--red);
    margin: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    
    
}

.card {
    background-color: snow;
    width: 90%;
    padding: 5%;
    margin: 5% 0;
    border-radius: 30px;
}
.nav, .menu, .banner, .footer, .social-links {
    display: flex;
    
}
.nav {
    justify-content: space-between;
    width: 100%;
    align-items: center;
}
.menu {
    list-style: none;
    
    justify-content: flex-end;
}
.menu li {
    margin-left: 35px;
}
.menu li a {
    color: black;
    text-decoration: none;
    font-weight: 400;
}
.menu li a:hover {
    color: var(--red2);
    font-weight: 500;
}
.m-menu {
    color: var(--red2);
}
.hidden {
    display: none;
}
.a-logo {
    text-decoration: none;
    color: var(--black);
    font-family: 700;
    font-size: larger;
}

.banner {
    align-items: center;
    padding: 32px 0px;
}
.text , .img {
    width: 50%;
}
.img img {
   width: 100%; 
}
.jpn-text {
    
    color: var(--red2);
    font-weight: 700;
    font-size: 56px;
}
h1 {
    font-size: 36px;
    line-height: 54px;
    text-transform: uppercase;
    padding: 15px 0px;
    color: var(--black);
}
h1 span {
    color: var(--red2);
}
p {
    color: var(--black);
    font-size: 0.8rem;
    line-height: 24px;
    font-weight: lighter;
}

.btn {
   margin-top: 20px;
    padding: 15px 10%;
    border-radius: 30px;
    background-color: var(--red2);
    border: none;
    color: #fff;
    text-transform: capitalize;
    box-shadow: -10px 10px 15px rgb(235, 235, 235); 
  
    
}
.footer {
    justify-content: space-between;
}
.border{
    width: 70%;
    border-bottom: 2px solid var(--black);
}
.social-links{
    width: 30%;
}
.social-links li {
    list-style: none;
    margin-right: 35px;
}
.social-links li a {
    color: var(--black);
    text-decoration: none;
    text-transform: capitalize;
}

@media screen and (max-width:768px){
    .hidden {
        display: inline;
    }
    .menu {
        display: none;
    }
    h1 {
        font-size: 28px;
        line-height: 42px;
    }
    .border {
        width: 50%;
    }
    .social-links {
        width: 50%;
    }
}
@media screen and (max-width: 767px){
    .banner {
        flex-direction: column-reverse;
    }
    .text, .img {
        width: 100%;
        
    }
    .border {
        width: 0%;
        display: none;
        
    }
    .social-links {
        width: 100%;
        display: flex;
        justify-content: center;
    }
    .social-links li {
        margin: 10px;
    }
}