:root {
    --bg: #e0d9d9;
    --contentBg: #ebe6e6;
    --active: #d41b27;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.bg {
    background-color: var(--bg);
    padding: 5% 0;
}
.content {
    background-color: var(--contentBg);
    width: 90%;
    margin: auto;
    padding: 2%;
    border
}