* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    overflow-x: hidden;
}

/* Display Flex */
.navBar, .pageLayout, .capsulesContainer {
    display: flex;
    width: 100%;
}

/* Navigation Bar */
.navBar {
    justify-content: space-between;
}

.pageLayout  {
    ;
}
