@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;700&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
}
/* Display Flex */
body, .navBar, .pageLayout, .capsulesContainer, .leftSide {
    display: flex;
    width: 100%;
}

body {
    flex-direction: column;
    overflow-x: hidden;
    background-color: #91D0CD;
    justify-content: center;
    align-items: center;
    height: 100vh;
}
.whiteCard {
    width: 85%;
    height: 90vh;
    background-color: white;
    padding: 25px 0px;
    margin:auto;
    border-radius: 80px;
}

/* Navigation Bar */
.navBar {
    justify-content: space-between;
}

/* Page Layout */
.pageLayout > .leftSide, .pageLayout .rightSide  {
   
    flex: 50%;
}

/* Text Content */
.leftSide {
    flex-direction: column;
   
    justify-content: space-around;
}

.capsulesContainer {
    justify-content: start;
}
/* Image  */
.img {
    width: 100%;
}

/* container */
.container {
    
    padding: 15px 30px;
}
a {
    text-decoration: none;
}
.logo {
    font-weight: 700;
    color: black;
    font-size: 25px;
    text-decoration: none !important;
    text-transform: capitalize;
   
}
.font-light {
    font-weight: 300;
}

.pText {
    color: gray;
    line-height: 1.5rem;
    font-size: 14px;
}