* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    list-style: none;
}
:root {
    --secondary: #f01f1fb6;
    --primary:#feddaf;

}
.background {
    background-color: var(--secondary);
}
.card {
    width: 95%;
    margin: auto;
    background-color: var(--primary);
}
.row {
    display: flex;
    width: 100%;
}
.col, .nav {
    width: 50%;
}