/* ALL ELEMENTS */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    list-style: none;
    font-family: 'Neuton', serif;
}
/* CSS VARIABLES */
:root {
    --secondary: #f01f1fb6;
    --primary:#feddaf;

}
/* PAGE BACKGROUND COLOR  */
.background {
    background-color: var(--secondary);
}
/* FLOATING CARD */
.card {
    width: 90%;
    height: 90vh;
    margin:40px  auto;
    background-color: var(--primary);
    box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 50px;
    
   
}
/* DISPLAY FLEX */
.nav,.nav-menu,.row,.banner,.double-box, .flex,.special-price, .innerLogo,.nav-item {
    display: flex;
}
/* POSITION = RELATIVE */
.relative {
    position: relative;
}
/* NAVIGATION BAR */
.nav {
   border-top:2px solid black;  
   border-bottom: none !important;
   border-right:2px solid black; 
   border-left:2px solid black; 
}
/* LOGO */
.logo {
    text-decoration: none;
    color: black;
    padding-left: 20px;
    font-weight: bold;
    
    text-transform: capitalize;
}
.innerLogo {
    align-items: center;
    height: 70px;
    
}
.one {
    font-size: 60px;
    font-family: 'Luckiest Guy', cursive;
}
.logo-text {
    font-family: 'Rancho', cursive;
    letter-spacing: 2px;
    font-size: larger;
}
/* NAVIGATION MENU AND LINKS */
.nav-menu {
    width: 80%;
    height: 70px;
    justify-content: space-evenly;
    align-items: center;
}
.nav-item {
    
    width: 100%;
    height: 70px;
    align-items: center;
    justify-content: center;
}
.nav-link {
    text-decoration: none;
    color: black;
}
.nav-link::before {
    content: ' • ';
}
.nav-item:hover .nav-link{
    color: white;
    
}
.nav-item:hover{
    background-color: black;
}
.nav-item.active {
    background-color: black !important;   
}
.nav-item.active > .nav-link {
    color: rgb(245, 141, 141);
    font-weight: bold;
}
.nav,.special-price {
    justify-content: space-between;
    align-items: center;
}
/* BANNER - > ROW -> COL-1 AND COL-2 */
.banner {
    border:2px solid black;  
    height: 100%;
    flex-direction: column;
    justify-content: center;
}
.row {
    width: 100%;
    height: 60vh;
}
.col-1, .nav {
    width: 60%;
}
.col-2{
    width: 40%;
}
.col-1,.col-2 {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    padding: 2%;
}
/* BIG CIRCLE IN THE FIRST COLUMN */
.circle {
    height: 350px;
    width: 350px;
    background-color: var(--secondary);
    border-radius: 50%;
    position: absolute;
    right: 15px;
    top: -25px;    
}
/* CONTROLS INSIDE AND OUTSIDE THE FIRST COLUMN  */
.inner-control span {
    font-weight: bold;
    margin-right: 20px;
}
.external-control {
    display: flex;
    width: 20%;
    align-items: center;
    justify-content: space-around;
    border-right:2px solid black; 
    border-left:2px solid black;
    border-bottom:2px solid black;
    
}
.external-control div {
    width: 50%;
    text-align: center;
    padding: 20px;
    font-weight: bold;
}
/* CONTENT INSIDE THE SECOND COLUMN */
.smallCircle {
    height: 150px;
    width: 150px;
    background-color: var(--secondary);
    border-radius: 50%;
}

.double-box{
   
    height: 70%;
    width: 100%;
    align-items: center;
    justify-content: space-around;
}
.double-box div {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 10px 20px;
    text-align: left;
    font-family: 'Rancho', cursive;
    font-size: larger;
    letter-spacing: .1rem;
}
.flex {
    align-items: center;  
}




.borderLeft {
    border-left: 2px solid black;
    
}
h1 {
    font-size: 4rem;
    font-family: 'Luckiest Guy', cursive;
    z-index: 10;
    /* font-family: 'Rancho', cursive; */
}
.price {
    margin-right: .2rem;
}
.btn {
    background-color: black;
    color: white;
    padding: 20px;

}

