

.container {
    padding: 15px 5%;
    margin: auto;
}

/* Display Flex */
.nav-flex, .nav-menu, .icon-menu, .menu-icon, .row {
    display: flex;
}

/* Navigation Bar */
.nav-flex {
    justify-content: space-between;
}

/* Icon Menu */
.icon-menu {
    list-style: none;
}

/* Menu Icon */
.menu-icon {
    flex-direction: column;
    align-items: flex-end;
}
.menu-icon  .longBar, .menu-icon  .shortBar {
    border: 1px solid black;
}
.menu-icon  .longBar {
    width: 21px;
    
}
.menu-icon  .shortBar {
    width: 14px;
    margin: 5px 0px;
}

/* Rows and Columns */
.col {
    flex: 1;
}

/* Buttons  */
.btn {

}