

.container {
    margin: auto;
}

/* Display Flex */
.nav-flex, .nav-menu, .icon-menu, .menu-icon, .row {
    display: flex;
}

/* Navigation Bar */
.nav-flex {
    justify-content: space-between;
}

/* Icon Menu */
.icon-menu {
    list-style: none;
}
.menu-icon {
    flex-direction: column;
}
.menu-icon  .longBar, .menu-icon  .shortBar {
    border: 1px solid black;
}
.menu-icon  .longBar {
    width: 21px;
    
}
.menu-icon  .shortBar {
    width: 15px;
    margin: 5px 0px;
    padding-right: 0px;
}