*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    text-decoration: none;
    list-style: none;
}

body {
    background-color: #fffc52;
    display: flex;
    flex-direction: column;

}
/* This is a class that styles the width and margin of the layout for the element */
.container {
    width: 90%;
    margin: auto;
}
/* Creates a row */
.row {
    display: flex;
}
/* Creates a column that takes 50% of the parent element */
.col {
    flex: 50%;
}

/* This is to style the navigation bar */
.navbar {
    display: flex;
    width: 100%;
    justify-content: space-between;
    align-items: center;
    height: 70px;
    
}

/* This is to style the logo */
.logo {
    font-size: 32px;
    line-height: 45px;
    color: black;
    font-weight: 700;

}
/* This is to style the nav-menu */
.nav-menu, .social-menu {
    display: flex;
    width: 50%;
    justify-content: end;
}

/* This is to style the nav-menu li items  */
.menu-item {
    margin-left:20px ;
}
/* This is to style the nav-menu links inside the li item  */
.menu-link {
    color: black;
    font-size: 18px;
    line-height: 32px;
    font-weight: 400;
    text-transform: capitalize;
}
/* This is to style the div menu-box that contains both the nav-menu and the social menu  */
.menu-box{
    display: flex;
    width: 50%;
    justify-content: space-between;
}
/* This styles the banner giving it a margin top and bottom of 70px each */
.banner-box {
    margin: 70px 0px;
}
/* This styles the large text in our website */
.large-text {
    font-size: 106px;
    line-height: 116px;
    font-weight: 700;
    color: black;
    margin: 40px 0px;
}
/* This styles the date-text in the banner */
.date-text {
    font-weight: 700;
    font-size: 26px;
    line-height: 35px;
    color: black;
    margin: 30px 0px;
}

/* This styles all the paragraph text in our website */
.p-text {
    font-weight: 400;
    font-size: 18px;
    line-height: 32px;
    color: black;
}
/* This gives any element a margin left of 40px  */
.m-left {
    margin-left: 40px;
    
}
/* This gives any element a margin right of 40px  */
.m-right {
    margin-right: 40px;
    
}
.bg-black {
    background-color: black;
}
.flex {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 600px;
    flex-direction: column;
}
.yellow-text {
    color: #fffc52;
    text-transform: capitalize;
}
.yellow-line {
    height: 2px;
    width: 570px;
    background-color: #fffc52;
}