* {
    margin: 0;
    list-style: none;
    text-decoration: none;
    padding: 0;
}

.container {
    width: 90%;
    margin: auto;
}

.flex, .main-nav, .acct-menu {
    display: flex;
    width: 100%;
}

.main-nav {
    justify-content: space-between;
}
.shop-menu li {
    margin: 0px 20px;
}