* {
    margin: 0;
    list-style: none;
    text-decoration: none;
    padding: 0;
    font-family: 'Lexend', sans-serif;

}

.container {
    width: 90%;
    margin: auto;
}

.flex, .main-nav, .acct-menu {
    display: flex;
    width: 100%;
    align-items: center;
}

.main-nav {
    justify-content: space-between;
    height: 70px;
    align-items: center;
}
.logo {
    margin-right: 10px;
    font-family: 'Zen Tokyo Zoo', cursive;
    font-weight: 400;
    text-transform: uppercase;
    font-size: 32px;
    letter-spacing: 0.3em;
    color: black;
}
.nav-link{
    margin: 0px 20px;
    color: black;
    font-size: 14px;
    text-transform: capitalize;
}
.badge {
    height: 16px;
    width: 20px;
    background-color: black;
    color: white;
    text-align: center;
    padding: 5px;
    border-radius: 10px;
}
.acct-menu {
    justify-content: flex-end;
}
