.nav {
    position: fixed;
    width: 100px;
    top: 0px;
    left: 0px;
    right: 0px;
    background:rgba(25, 245, 230, 0.8);
    padding: 10px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;

    height: 100vh;
    box-shadow: 10px 10px 20px #ccc;
}
.logo {
    background-color: blueviolet;
}
.menu {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    list-style: none;
    background-color: red;
}
li {
    margin-bottom: 15px;
}
.text {
    margin-left:120px ;
}