
/* Creating variables that we can use multiple times in the same file */
:root {
    --white: white;
    --primary:#df7c6d;
    --black: black;
    --w300: 300;
    --w500: 500;
    --w700:700;
    --tLg: 47px;
    --tLH: 60px;
    --mTx: 37px;
    --mLH: 49px;
    --rTx: 16px;
    --rLH: 32px;
    --xTx: 66px;
    --xLH:82px;
    --pink: #ffb3b7;
    --bannerBG: #e2b76c;

}

/* For all elements, do these */
*{
    margin: 0;
    padding: 0;
    text-decoration: none;
    box-sizing: border-box;
    list-style: none;
    outline: none;
    font-family: 'Poppins', sans-serif;
}
/* 
Body element */
body {
    background-color: var(--white);
    overflow-x: hidden;
}

/* Display Flex */
.nav, .row, .nav-menu, .logo, .acct-menu, .content, .center  {
    display: flex;
    width: 100%;
}

/* Align Items center on the vertical axis */
.nav {
    align-items: center;
}

/* Share the width equally between children element  */
.nav-menu, .logo, .acct-menu,.col {
    flex: 1;
}
/* Navigation Menu align items to start on the horizontal axis*/
.nav-menu {
    justify-content: flex-start;
}
/* For elements inside nav-menu called nav-link, give a margin-right of 15px */
.nav-menu .nav-link {
    margin-right:15px ;
}
/* Center the logo on the horizontal axis  */
.logo {
    justify-content: center;
    font-size: 33px;
    line-height: 47px;
    font-weight: var(--w500);
    text-align: center;
    text-transform: capitalize;
    color: var(--white);
}

/* Place the items at the end of the row in the horizontal axis */
.acct-menu {
    justify-content: flex-end;
}
/* For elements inside acct-menu called nav-link, give a margin-left of 15px */
.acct-menu .nav-link {
    margin-left:15px ;
}   
/* For all elements with this class 'nav-link'  */
.nav-link {
    text-transform: capitalize;
    color: var(--white);
    font-weight: var(--w300);
}

/* Center elements on both the horizontal and the vertical axis */
.content, .center {
    flex-direction: column;
    justify-content: center;
    align-items: center;

}

/* For our buttons  */
.btn {
   padding: 15px 25px; 
   text-align: center;
   text-transform: capitalize;
   border-radius: 0px;
   border: none;
   background-color: var(--primary);
   color: var(--white);
   font-weight: var(--w300);
   width: 130px;
   margin: 20px 0px;
}
/* for the h1 text on our banner */
.bannerText {
    font-size: var(--xTx);
    font-weight: var(--w700);
    line-height: var(--xLH);
    text-transform: capitalize;
    text-align: center;
    color: var(--white);
}
/* all section titles  */
.title {
    font-size: var(--mTx);
    font-weight: var(--w500);
    text-transform: capitalize;
    line-height: var(--tLH);
    margin: 25px 0;
}

/* for the span text after our h2 section titles  */
.titleText {
    font-weight: var(--w300);
    font-size: var(--rTx);
    line-height: var(--rLH);
    margin-bottom: 20px;
    color: gray;
}
/* Consistent margin padding across the site */
.container {
    width: 80%;
    padding: 20px;
    margin: auto;
}

/* Banner id - give this background color */

#banner {
    background-color: var(--bannerBG);
}
/* All Images should take 100% of parent element */
img {
    width: 100%;
}
/* for all elements inside this row have space between each other */
.row {
    justify-content: space-between;
}
/* for all image elements inside a 'col' parent */
.col img {
    padding: 10px;
}

/* for this id */
#creativeImg {
    background-color: var(--pink);
}

/* for the footer id */
#footer {
    background-color: var(--primary);
    color: white;
    text-align: left;
    
}

/* for all a elements in this 'footer' id */
#footer a {
    display: inline;
    text-align: left;
    color: var(--white);
    font-weight: var(--w300);
}
/* for this 'footerLogo' in this a element */
a.footerLogo {
    font-weight: var(--w500);
}
/* align items horizontally at the end of the row */
.flex-end  {
    display: flex;
    justify-content: flex-end;

}


