*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    outline: none;
    text-decoration: none;
    list-style: none;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
body {
    overflow-x: hidden;
}
.container {
    width: 90%;
    margin: auto;
    padding: 1.5%;

}
.blue-bg {
    background-image: linear-gradient(to right, #6e85ad, #d0d5e1);
    width: 100vw;
    height: 350px;
    position: relative;
}
.banner-text {
    margin: 20px 0px;
    color: white;
}
.banner-text > p {
    padding: 10px 0px;
    font-size: 14px;
}
.banner-img {
    position: absolute;
    right: 0;
    top: -10px;
}
.spacer {
    height: 70px;
}
.banner-img > img {width: 100%;}
.navbar {
    display: flex;
    width: 100;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;

}
.logo {
    text-transform: capitalize;
    font-size: x-large;
    color: white;
    font-weight: 700;
}
.menu {
    display: flex;
    flex-direction: row;
    align-items: center;
}
.menu-item {
    color: white;
    margin-left: 20px;
}
.grid {
    display: grid;
    grid-template-areas: 
    'ptext ptext gym park'
    'arrow fire pool internet';
}
.service-text {
    grid-area: ptext;
    width: 1.5fr;
    background-color: red;
}
.service-text > p {
    word-wrap: break-word;
}
.icon-1 {
    grid-area: gym;
    width: 1.25fr;
}
.icon-2 {
    grid-area: park;
    width: 1.25fr;
}
.icon-3 {
    grid-area: arrow;
    width: .5fr;
    background-color: #6e85ad;
}
.icon-4 {
    grid-area: fire;
    width: 1fr;
}
.icon-5 {
    grid-area: pool;
    width: 1fr;
}
.icon-6 {
    grid-area: internet;
    width: 1fr;
}
 /* GALLERY CSS PROPERTIES */
 .gallery img  {
    width: 100%;
 }
.active {
    width: 80%;
    margin: auto;
}
.featured {
    margin-top: 30px;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 15px;
}
.img-box {
    width: 100%;
}