* {
    margin: 0;
    list-style: none;
    text-decoration: none;
    padding: 0;
}
.container {
    width: 90%;
    margin: auto;
}
.nav, .logo, .menu, .social-icons {
    display: flex;
    width: 100%;
}
.logo, .menu , .social-icons {
    flex: 1;
}
.nav {
    background-color: chocolate;
    justify-content: space-between;
    align-items: center;
    text-transform: capitalize;
}
.menu {
    background-color: gold;
    justify-content: center;
}
.social-icons {
    background-color: crimson;
    justify-content: flex-end;
}
.logo {
    justify-content: flex-start;
    font-weight: 500;
    font-size: 31px;
    line-height: 44px;
    color: black;
    text-transform: capitalize;
}