* {
    margin: 0;
    list-style: none;
    text-decoration: none;
    padding: 0;
}
.container {
    width: 90%;
    margin: auto;
}
.nav, .menu, .social-icons {
    display: flex;
    width: 100%;
}
.nav {
    background-color: chocolate;
}
.menu {
    background-color: blue;
}
.social-icons {
    background-color: crimson;
}
.logo {
    color: chartreuse;
}