* {
    margin: 0;
    padding: 0;
    list-style: none;
    font-family: 'Kaisei Decol', serif;
}
.navbar, .footer, .nav-menu {
    display: flex;
    flex-direction: row;
    width: 100%;
}
.navbar {
    justify-content: space-between;
}