* {
    margin: 0;
    padding: 0;
    list-style: none;
    font-family: 'Kaisei Decol', serif;
}
body {
    overflow-x: hidden;
}
:root {
    --primaryColor: #fdf0e7;
    --accentColor: #fdf0e7;
    --fontColor: #eb8c85;
    --black: #000;
}
img {
    width: 100%;
}
.container {
    width: 95%;
    margin: auto;
}
.navbar, .footer, .nav-menu {
    display: flex;
    flex-direction: row;
    
}
.navbar {
    width: 100%;
    justify-content: space-between;
    height: 70px;
    align-items: center;
    
}
.nav-link a {
    text-decoration: none;
}
.banner, .navbar, .services {
    background-color: var(--primaryColor);
}
.logo {
    color: var(--fontColor);
    text-decoration: none;
    font-size: 32px;
    line-height: 45px;
}
.footer div {
    flex: 1;
}