<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>

    <!--Styling-->
    <style>
        * {
            margin: 0;
        }
        .blue{
            width: 400px;
            height: 400px;
            background-color: blue;
        }
    </style>
</head>
<body>
    <nav>
        <!--Menu-->
        <ul>
            <li>
                <a href="#">shop</a>
            </li>
            <li>
                <a href="#">gallery</a>
            </li>
            <li>
                <a href="#">contact</a>
            </li>
        </ul>
        <!--Logo-->
        <a href="#">
            <div>Tryspayce</div>
        </a>
        <!--Account-->
        <ul>
            <li>
                <a href="#">Login</a>
            </li>
            <li>
                <a href="#">Cart</a>
            </li>
        </ul>
    </nav>

    <div class="blue">
        <div class="red"></div>
    </div>
</body>
</html>