* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;

}
.wrapper {
    width: 90%;
    background-color: antiquewhite;
    margin: auto;
    padding-top:2% ;
}
.nav, .menu, .banner, .footer {
    display: flex;
    
}
.nav {
    justify-content: space-between;
    width: 100%;
    align-items: center;
}
.menu {
    list-style: none;
    width: 50%;
    justify-content: flex-end;
}
.menu li {
    margin-left: 15px;
}
.logo {
    border: 1px solid black;
    display: grid;
    grid-template-columns: 1fr 1fr;
    padding: 7px 15px;
}
.logo  span {
    margin: 5px;
    text-align: center;
}

.jpn-text
.swirly-border
.text
.img
.btn
.social-links
.border